.weather-today-panel {
  .current-city {
    text-align: center;
  }

  .current-city {
    font-size: 2.5em;
  }

  .current-place-headers {
    margin: 0 auto 2em auto;
  }


  .forecast {
    font-size: 0.6em;
    text-align: center;
    margin: 2em auto;
  }

  .panel-weather {
    text-align: right;
  }

  .current-country {
    text-align: center;
  }
}